.job {
    margin: 10px auto;
    position: relative;
    line-height: 22px;
}

ul {
    list-style: inside;
}

.location {
    font-style: italic;
    font-weight: normal;
}

.job h4 {
    width: 100%;
    background-color: #dddddd;
}

.dates {
    position: absolute;
    top: 0;
    right: 0;
}

.job .new-item-btn {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    margin-left: 30px;
}
