.job {
    margin: 10px auto;
    position: relative;
    line-height: 22px;
}

ul {
    list-style: inside;
}

.location {
    font-style: italic;
    font-weight: normal;
}

.job h4 {
    width: 100%;
    background-color: #dedede;
}

.job .title {
    background-color: transparent;
}

.dates {
    position: absolute;
    top: 0;
    right: 0;
}

.job .new-item-btn {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    margin-left: 30px;
}

.job > .delete-btn {
    left: -20px;
    opacity: 1;
}

.job .bullet .input-wrapper {
    width: 95%;
    vertical-align: text-top;
}

.job .bullet .text {
    min-width: 95%;
    width: 95%;
    vertical-align: text-top;
    line-height: 18px;
}

.job .bullet .input-wrapper .text {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
