#information,
#information input {
    text-align: center;
}

.name {
    text-align: center;
    display: block;
}

.name .text {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.seperator {
    min-width: 15px;
}
