* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #260c3b;
    font-size: 16px;
}

main {
    width: 600px;
    background-color: #ffffff;
    margin: 50px auto;
    padding: 50px;
}

section {
    position: relative;
}

section hr {
    margin: 10px auto;
}

.new-item-btn {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    background-color: #260c3b;
    color: white;
    width: 30px;
    height: 30px;
    opacity: 70%;
    font: inherit;
    transition: opacity 300ms ease-in-out;
}

.new-item-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.bullet {
    position: relative;
}
