* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #260c3b;
    font-size: 16px;
}

main {
    width: 600px;
    background-color: #ffffff;
    margin: 50px auto;
    padding: 50px;
}

section {
    position: relative;
}

section hr {
    margin: 10px auto;
}

.new-item-btn {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    background-color: #260c3b;
    color: white;
    width: 30px;
    height: 30px;
    opacity: 70%;
    font: inherit;
    transition: opacity 300ms ease-in-out;
}

.new-item-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.bullet {
    position: relative;
}

#print-btn {
    display: block;
    margin: 0 auto 50px auto;
    background-color: white;
    border: none;
    color: #4b226d;
    border-radius: 12px;
    font-size: 16px;
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out,
        font-size 100ms ease-in-out;
    width: 70px;
    height: 60px;
}

#print-btn:hover {
    cursor: pointer;
    background-color: #efefef;
    box-shadow: 0 0 5px #ffffff80;
    font-size: 17px;
}

.pdf .edit-submit-btn {
    display: none;
}

@media screen and (max-width: 700px) {
    main {
        width: unset;
        padding: 20px;
        margin-top: 0;
    }
}
